body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.collection {
  min-height: 24px;
}

.number.field {
    background-color: rgb(92, 184, 92);
    color: white;
    margin: 3px;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: -webkit-grab; 
    cursor: grab;
    font-size: 15px;
    border-radius: 5px;
}

.category.field {
  background-color: rgb(2, 117, 216);
  color: white;
  margin: 3px;
  padding: 3px;
  padding-left: 5px;
  padding-right: 5px;
  cursor: -webkit-grab; 
  cursor: grab;
  font-size: 15px;
  border-radius: 5px;
}

tr:nth-child(even) {
  background-color: #f2f2f2
}

.transparent {
  opacity: 0.5;
}

.badge.number {
  background-color: rgb(92, 184, 92);
  color: white;
}

.badge.category {
  background-color: rgb(2, 117, 216);
  color: white;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0px;
  width: 360px;
  margin-left: 14px;
  margin-bottom: 50px;
  overflow: scroll;
  overflow-x: hidden;
  padding: 10px;
}

.bottom-button {
  position: fixed;
  bottom: 0;
  width: 346px;
  margin: 5px;
}

.content {
  margin-left: 440px;
}
