body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.collection {
  background-color: rgb(207, 207, 207);
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  min-height: 32px;
}

.number.field {
    background-color: rgb(93, 150, 255);
    margin: 5px;
    padding: 5px;
    cursor: -webkit-grab; 
    cursor: grab;
    font-size: 15px;
    border-radius: 5px;
}

.category.field {
  background-color: rgb(255, 93, 93);
  margin: 5px;
  padding: 5px;
  cursor: -webkit-grab; 
  cursor: grab;
  font-size: 15px;
  border-radius: 5px;
}

.dot {
  height: 15px;
  width: 15px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.dot.number {
  background-color: rgb(93, 150, 255);
}

.dot.category {
  background-color: rgb(255, 93, 93);
}


tr:nth-child(even) {
  background-color: #f2f2f2
}

